{
	http_port 8080
	https_port 8443
	servers {
		protocols h1 h2 h3
	}
}

:8443 {
	tls ./certs/localhost.pem ./certs/localhost-key.pem

	header Alt-Svc "h3=\":8443\"; ma=2592000"

	handle /* {
		reverse_proxy http://localhost:3000 {
			transport http {
				versions 1.1
			}
		}
	}

        # Logging for debug
	# log {
	# 	output stdout
	# 	format console
	# 	level INFO
	# }
}

:8080 {
	redir https://localhost:8443{uri}
}
