{:deps {:aliases [:cljs :test]}
 :dev-http {8080 {:root "resources/public"}}
 :builds
 {:app {:target     :browser
        :output-dir "resources/public/js"
        :asset-path "/js"
        :modules    {:app {:init-fn frontend.core/init}}
        :devtools   {:watch-dir "resources/public"
                     :proxy-url "http://localhost:3000"}
        :release    {:asset-path "js"}}

  :node-test {:target    :node-test
              :output-to "out/node-tests.js"
              :ns-regexp "-test$"}}}
