{:paths ["src" "resources"]
 :deps {org.clojure/clojure       {:mvn/version "1.12.3"}
        org.clojure/clojurescript {:mvn/version "1.11.132"}}

 :aliases
 ;; regenerate the Tailwind class manifest (resources/solidclj/docs/classes.txt)
 {:gen {:extra-paths ["dev"]
        :main-opts   ["-m" "gen-classes"]}}}
